h1 {
            text-align: center;
            color: green;
            background: white;
        }
        p {
            text-align: center;
            color: black;
        }
        img {
            display: block;
            margin: 0px auto;
        }